<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Photos

    <a data-toggle="collapse" href="#post_photos_new_form">
      Add photo
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @post.photos.each do |photo| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/photos/<%= photo.id %>">
          <%= photo.post_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_photo_from_post/<%= photo.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="post_photos_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "post_templates/post_photos_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
